@font-face {
  font-family: Consolas;
  src: url("../assets/fonts/Consolas.ttf"); 
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: Poppins-Medium;
  src: url("../assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: FabricIcons;
  src: url("../assets/fonts/fabricicons.woff") format("woff");
}

:root {
  --main-color: ;
  --background-color: ;
  --card-background-color: ;
  --accent-background-color: ;
  --text-font-size: 18px;
  --h2-font-size: 22px;
  --header-font-size: ;
  --header-font-family: "Poppins-Medium";
  --primary-font-family: "Open Sans";
  --card-width: 75%;
}

.p-text-indent {
  text-indent: 47px; /* 1.25 cm */
  text-align: justify;
  text-justify: newspaper;
}


section > span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 
      font-size: 7vw;
      font-family: var(--primary-font-family);
      text-transform: uppercase;
      color: #111;
}

/* Main Page What - is - the Gativus */
.link-gtom:before {
  font-family: "FabricIcons";
  font-weight: 400;
  padding: 0 5px;
  display: flex;
  align-items: center;
  font-size: 20px;
  width: fit-content;
  color: #555555;
  content: "\F8A4";
}
.link-gnet:before {
  font-family: "FabricIcons";
  font-weight: 400;
  padding: 0 5px;
  display: flex;
  align-items: center;
  font-size: 20px;
  width: fit-content;
  color: #555555;
  content: "\E557";
}
.link-about:before {
  font-family: "FabricIcons";
  font-weight: 400;
  padding: 0 5px;
  display: flex;
  align-items: center;
  font-size: 20px;
  width: fit-content;
  color: #555555;
  content: "\E80F";
}
.link-gate:before {
  font-family: "FabricIcons";
  font-weight: 400;
  padding: 0 5px;
  display: flex;
  align-items: center;
  font-size: 20px;
  width: fit-content;
  color: #444444;
  content: "\EC27";
}
.link-gaar:before {
  font-family: "FabricIcons";
  font-weight: 400;
  padding: 0 5px;
  display: flex;
  align-items: center;
  font-size: 20px;
  width: fit-content;
  color: #555555;
  content: "\F50E";
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: var(--primary-font-family);
  letter-spacing: 0.5px;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  user-select: none;
  color: #333333;
  box-sizing: border-box;
  transition: opacity 100ms cubic-bezier(0.48, -0.01, 0.2, 0.91);
}
#particles-js {
  position: fixed;
  z-index: 0;
  max-width: 100%;
  height: 100vh;
  background: #f9f9f9;
  transition: opacity 0.5s cubic-bezier(0.705, 0.01, 0, 0.915);
}
@keyframes scaleProgress {
  0% {
    transform: translateY(0);
  } 
  100% {
    transform: translateY(-20vh);
  }
}

.gativus-sidebar {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  background-color: white;
  color: white;
  filter: drop-shadow(0 1px 5px rgb(238, 238, 238));
  border: 1px solid #c8c8c8;
  animation: sidebar_slide_in 500ms cubic-bezier(0.48, -0.01, 0.2, 0.91);
  /* z-index: 100; */
}
.sidebar-out{
  transform: translate3d(100%, 0px, 0px) !important;
  opacity: 0;
  transition: all 500ms cubic-bezier(0.48, -0.01, 0.2, 0.91);
  /* animation: sidebar_slide_in 500ms cubic-bezier(0.48, -0.01, 0.2, 0.91) reverse; */
}

.header-logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
  display: flex;
  gap: 5px;
  align-items: center;
  width: 100%;
  padding: 0;
}
.logo-section-img {
  height: 66px;
}
.logo-section-title {
  font-family: var(--header-font-family);
  font-size: 29px;
  font-weight: 900;
  color: #454545;
  padding: 0;
  margin: 0;
}
.header-wiki-section {
  height: 66px;
  display: flex;
  align-items: center;
}
.wiki-section-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 800;
  font-size: var(--text-font-size);
  gap: 5px;
  color: #454545;
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  border: 1px solid #c8c8c8;
  width: 100%;
}
.header-link {
  cursor: pointer;
  font-weight: 400;
  font-size: var(--text-font-size);
  color: #555555;
  display: flex;
  align-items: center;
  line-height: 1;
  transition: all 0.4s cubic-bezier(0.705, 0.01, 0, 0.915);
}
.header-link:hover {
  opacity: 0.8;
}
.active-link {
  color: black !important;
}
.active-link p {
  color: black !important;
  transition: all 0.4s cubic-bezier(0.705, 0.01, 0, 0.915);
}
.active-link:before {
  color: black;
  transition: all 0.4s cubic-bezier(0.705, 0.01, 0, 0.915);
}
.link-section {
  display: flex;
  gap: 5px;
}
.header-language-section {
  display: flex;
  gap: 5px;
  align-items: center;
}
.header-contact-section {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  background-color: rgb(112, 112, 112);
  border-radius: 9px;
  border: 1px solid rgb(92, 92, 92);
  height: fit-content;
}
.contact-section-title {
  font-size: var(--text-font-size);
  color: white;
  padding: 0;
  margin: 0;
}
.scroll-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.main-gativus-view {
  pointer-events: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 83px;
  left: 0;
  z-index: 2;
}

/* First Main Page */
.what-is-gativus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: calc(100vh - 83px);
}

.what-is-gativus-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
  width: 100%;
}
.gativus-description {
  margin: 0;
  font-size: 34px;
  font-weight: 800;
  filter: drop-shadow(0 0 2px #bababa);
  text-align: center;
  margin: 0 auto;
  font-family: var(--header-font-family);
  letter-spacing: 6px;
  font-weight: 400;
  border-bottom: 1px solid #bababa;
}
.second-gativus-view-title {
  padding: 10px 0;
  line-height: 1;
  margin: 0;
  border-top: 1px solid #bababa;
  width: fit-content;
  filter: drop-shadow(0 0 2px #bababa);
  font-family: var(--header-font-family);
  font-size: 60px;
  letter-spacing: 6px;
}
.gativus-title-description {
  display: flex;
  flex-direction: column;
}
.main-gativus-view-title-container {
  display: flex;
  gap: 20px;
  width: fit-content;
  align-items: center;
}
.second-gativus-view-title-container {
  display: flex;
  gap: 20px;
  width: fit-content;
  align-items: center;
}
.main-gativus-view-icon {
  filter: drop-shadow(0 0 2px #bababa);
  height: fit-content;
}
.second-gativus-view-icon {
  filter: drop-shadow(0 0 2px #bababa);
  height: fit-content;
}
.gativus-view-stuff {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 50px;
}
.view-stuff-art {
  display: flex;
  align-items: center;
}
.arrow-down {
  position: absolute;
  left: 45%;
  bottom: 0;
}
.view-stuff-description {
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  max-width: 50vw;
  text-align: center;
}
.view-stuff-description p {
  font-size: 44px;
  font-weight: 800;
  filter: drop-shadow(0 0 2px #bababa);
}
.stuff-art {
  filter: drop-shadow(0 0 2px #bababa);
}
.second-gativus-view-section {
  border: 1px solid #c8c8c8;
  width: fit-content;
  height: fit-content;
  max-width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px;
  filter: drop-shadow(0 0 1px #c8c8c8);
  pointer-events: all;
}
.second-gativus-view-section-upper-part {
  height: 56px;
  width: 100%;
  background-color: #f9f9f9;
  border-bottom: 1px solid #c8c8c8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;
}
#app {
  transition: all 0.5s cubic-bezier(0.705, 0.01, 0, 0.915);
}
.second-gativus-view-section-main-part {
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  max-width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
}
.second-gativus-view-section-bottom-part {
  height: 56px;
  width: 100%;
  background-color: #f9f9f9;
  border-top: 1px solid #c8c8c8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 15px 15px;
}
.second-gativus-view-section-main-part-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.second-gativus-view-section-main-part-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.wtg_view_item {
  border: 1px solid #e9e9e9;
  box-shadow: 0px 0px 2px 0px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  /* height: 230px; */
  /* width: fit-content; */
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.705, 0.01, 0, 0.915);
  background-color: white;
}
/* .wtg_view_description {
  width: 300px;
} */
.wtg_view_img_container {
  height: 100px;
  width: 100%;
  background: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  background-size: contain;
}
.wtg_gtom {
  background-image: url("../img/logo.jpg");
}
.wtg_gnet {
  background-image: url("../img/gnet-second-view.png");
}
.wtg_gate {
  background-image: url("../img/gate.jpg");
}
.wtg_gnet_spec {
  background-image: url("../img/gnet-main.png");
}
.gate_gaar_container {
  display: flex;
  gap: 10px;
}
.gate,
.gaar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.wtg_view_purpose_item {
  padding: 10px;
  border: 1px solid rgb(237, 237, 237);
  box-shadow: 0px 0px 1px 0px rgba(34, 60, 80, 0.2);
  background: rgb(237, 237, 237);
  border-radius: 10px;
  width: 650px;
  height: 230px;
  background: linear-gradient(
    90deg,
    rgba(237, 237, 237, 1) 0%,
    rgba(221, 221, 221, 1) 100%
  );
}
.wtg_view_purpose_item_title {
  font-size: var(--text-font-size);
}
.wtg_view_purpose_item_title_container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.wtg_view_title {
  font-size: var(--text-font-size);
  text-align: center;
}
.language-section-title {
  color: #454545;
  font-size: var(--text-font-size);
}

/*  Third Page  Gativus - network */

#gnet {
  display: flex;
  align-items: center;
}
.gativus-network-page-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: calc(100% - 20px);
}

.gativus-network-title-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  align-items: center;
}
.gativus-network-title-container-sub {
  display: flex;
  gap: 20px;
  width: fit-content;
  align-items: center;
}
.gativus-network-title-icon {
  filter: drop-shadow(0 0 2px #bababa);
  height: fit-content;
}
.gativus-network-title {
  padding: 10px 0;
  line-height: 1;
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  width: fit-content;
  filter: drop-shadow(0 0 2px #bababa);
  font-family: var(--header-font-family);
  font-size: 40px;
  letter-spacing: 6px;
  margin: 0;
}
.gativus-network-card {
  width: var(--card-width);
  height: 347px;
  border: 1px solid #c8c8c8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.2);
  border-radius: 15px;
  background: #ffffff;
}
.gativus-network-card-title-container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  width: 100%;
  border-bottom: 1px solid #c8c8c8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.gativus-network-card-title {
  margin: 0;
  font-weight: 400;
  font-size: var(--h2-font-size);
}
.gativus-network-card-title-container_w_t_border {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  width: 100%;
  border-bottom: 1px solid #c8c8c8;
  border-top: 1px solid #c8c8c8;
}
.gativus-network-card-main {
  background-color: #fafafa;
  height: 215px;
  width: var(--card-width);
  margin: auto;
  border: 1px solid #fafafa;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.gativus-network-card-main-description {
  font-size: 22px;
  width: calc(50% - 20px);
  text-align: center;
  padding: 10px;
}
.gtom-gnet-nddis {
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.gtom-gnet-nddis-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--text-font-size);
  gap: 5px;
}
.gtom-gnet-nddis-block p {
  margin: 0;
}
.gtom-gnet-nddis-img {
  height: 120px;
}
.two-arrows-towards {
  display: flex;
  flex-direction: column;
}
.gativus-network-card-facts-container {
  display: flex;
  margin: auto;
  gap: 30px;
  align-items: center;
}
.gativus-network-card-fact {
  background-color: #fafafa;
  height: 215px;
  width: 676px;
  border: 1px solid #fafafa;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.2);
  display: flex;
  align-items: center;
  justify-content: start;
}
.gativus-network-card-fact-description {
  width: 50%;
  font-size: var(--text-font-size);
  text-align: center;
}
.gativus-network-card-fact-image-knowledge {
  height: 100%;
  width: 50%;
  background: url("../img/knowledge.jpg");
  background-size: contain;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.gativus-network-card-fact-image-brain {
  height: 100%;
  width: 50%;
  background: url("../img/brain.jpg");
  background-size: contain;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* NDDI view on GNET page */

.nddi-container {
  gap: 10px;
  background-color: #ffffff;
  width: 676px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.2);
  display: flex;
  flex-direction: column;
  width: var(--card-width);
  align-items: center;
  justify-content: start;
  max-height: 100%;
}
.nddi-container-title-container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  width: 100%;
  border-bottom: 1px solid #c8c8c8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.nddi-container-title {
  font-size: 22px;
  margin: 0;
}
.nddi-info {
  display: flex;
  gap: 30px;
  padding: 0 30px;
  align-items: center;
  justify-content: space-around;
}
.render img {
  width: 40%;
  margin: 0;
}
.nddi-description {
  margin: 0;
  padding: 10px;
  font-size: var(--text-font-size);
  width: 50%;
}
.nddi-description p {
  margin: 0;
}

.nddi-info-principles {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 80%;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.2);
  align-items: center;
  justify-content: center;
}
.nddi-info-principles-container {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
  font-size: var(--text-font-size);
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nddi-info-principles-container p {
  margin: 0;
}
.nddi-sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  background-color: #fdfdfd;
  border-radius: 10px;
  border: 1px solid #c8c8c8;
  box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.2);
}
.nddi-sections-title {
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  width: calc(100% - 20px);
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}
.nddi-sections-title p {
  margin: 0;
  font-size: 22px;
}
.nddi-vbs {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  gap: 30px;
}

.nddi-vbs-info {
  padding: 20px;
  width: calc(80% - 40px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--text-font-size);
  margin: auto;
}
.nddi-vbs-info p {
  margin: 0;
  padding: 0;
}
.nddi-vbs-info-icon {
  font-size: 32px;
  font-weight: 800;
}
.nddi-v-title {
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  gap: 10px;
}
.nddi-v-title p {
  margin: 0;
  font-size: var(--text-font-size);
}
.nddi-vbs-info-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.v-section-container,
.b-section-container {
  padding: 40px;
  width: calc(100% - 80px);
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  font-size: var(--text-font-size);
}
.v-section-left,
.b-section-left {
  display: flex;
  flex-direction: column;
  border: 1px solid #c8c8c8;
  padding: 20px;
  border-radius: 9px;
  box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.2);
  height: 850px;
}
.v-section-right,
.b-section-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 380px;
  padding: 20px;
}
.v-section-left-image,
.b-section-left-image {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.v-section-right-image,
.b-section-right-image {
  display: flex;
  justify-content: space-around;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 9px;
  display: flex;
  align-items: center;
}
.v-connectors-text {
  display: flex;
  justify-content: space-around;
}

.v-component,
.b-package,
.b-yota {
  border: 1px solid #c8c8c8;
  padding: 20px;
  border-radius: 9px;
  box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.2);
  display: flex;
  flex-direction: column;
}
.v-connectors {
  border: 1px solid #c8c8c8;
  padding: 20px;
  border-radius: 9px;
  box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.2);
  display: flex;
  flex-direction: column;
}

.v-component-description,
.b-component-description {
  font-size: 16px;
}

.hovered {
  border: 1px solid #c8c8c8;
  transform: translateY(-2px);
  box-shadow: 0px 5px 10px 2px rgba(109, 109, 109, 0.2);
}

/* Common styles */

.gativus-page-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: calc(100vh - 107px);
}
.gativus-page-container-center {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.gativus-title-40px {
  padding: 10px 0;
  line-height: 1;
  margin: 0;
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  width: fit-content;
  filter: drop-shadow(0 0 2px #bababa);
  font-family: var(--header-font-family);
  font-size: 40px;
  letter-spacing: 6px;
}
.gativus-28px-description {
  margin: 0;
  font-size: 28px;
  font-weight: 800;
  filter: drop-shadow(0 0 2px #bababa);
  text-align: center;
  margin: 0 auto;
  font-family: var(--header-font-family);
  letter-spacing: 6px;
  font-weight: 400;
  border-bottom: 1px solid #bababa;
}
.gativus-card-subtitle {
  font-weight: 400;
  font-size: var(--text-font-size);
  margin: auto;
  padding: 0 10px;
}
#gtom-2 {
  display: flex;
  align-items: center;
}
#gtom {
  display: flex;
  align-items: center;
}
#gtom-3 {
  display: flex;
  align-items: center;
}
.fit-content-gativus-network-card {
  margin: auto;
  width: var(--card-width);
  border: 1px solid #c8c8c8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.2);
  border-radius: 15px;
  background: #ffffff;
  pointer-events: auto;
  height: fit-content;
}
.fit-content-gativus-network-card video {
  border-radius: 17px;
  border: 1px solid #c8c8c8;
}

.fit-content-gativus-network-card-main {
  display: flex;
  flex-direction: column;
  align-items: start;
  background: #ffffff;
  padding: 30px 30px;
  height: fit-content;
  gap: 30px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.gativus-card-image-block {
  display: flex;
  flex-direction: column;
  border: 1px solid #c8c8c8;
  gap: 20px;
  padding: 20px;
  border-radius: 9px;
  margin: auto;
  box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.2);
}
.gativus-card-image-block p {
  margin: 0;
}
.gativus-card-image {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 9px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.left-card-image,
.right-card-image {
  padding: 10px;
  width: calc(30% - 20px);
  background-color: #e9e9e9;
  height: fit-content;
  border-radius: 9px;
  box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.2);
  display: flex;
  position: relative;
  flex-direction: column;
  border: 1px solid #c8c8c8;
}
.left-card-image:after {
  content: " ";
  position: absolute;
  left: auto;
  right: -45px;
  top: 35%;
  transform: rotate(113deg);
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 80px solid black;
}
.right-card-image:after {
  content: " ";
  position: absolute;
  left: -75px;
  right: auto;
  top: 0;
  transform: rotate(-95deg);
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 120px solid black;
}

.gtom-card {
  width: 30%;
  border: 1px solid #c8c8c8;
  padding: 20px;
  border-radius: 9px;
  box-shadow: 0px 0px 1px 1px rgba(119, 119, 119, 0.2);
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}
.gtom-glln-cards {
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 0px;
  width: calc(100% - 20px);
  padding: 10px;
}
.gtom-card p:first-of-type {
  font-weight: 800;
}

.hr {
  color: #c8c8c8;
  border: 0;
  border-top: 1px solid #c8c8c8;
}

.gativus-network-card-another-title {
  margin: 0;
  font-weight: 800;
  font-size: 22px;
}
.gativus-network-card-another-title-container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  width: 100%;
  border-bottom: 1px solid #c8c8c8;
  border-top: 1px solid #c8c8c8;
}
.gativus-card-text {
  font-weight: 400;
  font-size: var(--text-font-size);
  margin: 0;
  padding: 0 30px;
}

u {
  background-color: #e6e6e6;
  margin: 0;
  align-items: center;
  line-height: 1.25;
  font-family: "Consolas";
  width: fit-content;
  padding: 1px 3px;
  text-decoration: none;
  border-radius: 5px;
  color: #000000;
}

.gativus-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal_window {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  height: 100%;
  background: rgba(233, 233, 233, 0.8);
  z-index: 1000;
  animation: modal_in 0.4s cubic-bezier(0.705, 0.01, 0, 0.915);
}

@keyframes modal_in {
    0% {
      background: rgba(161, 161, 161, 0);
    }
    100% {
      background: rgba(233, 233, 233, 0.8);
    }
}

.modal_window_out {
  animation: modal_out 0.4s cubic-bezier(0.705, 0.01, 0, 0.915);
}
@keyframes modal_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.contact-email-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  user-select: text;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 10px;
}
.contact-form-input {
  font-family: var(--primary-font-family);
  font-size: 14px;
  box-shadow: 0px 0px 2px 0px rgba(34, 60, 80, 0.2);
  border-radius: 7px;
  background-color: #f9f9f9;
  border: 1px solid #c8c8c8;
  padding: 5px;
  transition: all 0.4s cubic-bezier(0.705, 0.01, 0, 0.915);

}
.contact-form-input:focus {
  outline: 1px solid black;
}
#message {
  height: 150px;
  resize: none;
}
.contact-form-input-button {
  font-family: var(--primary-font-family);
  font-size: 16px;
  background-color: #575757;
  border: 1px solid #c8c8c8;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px rgba(34, 60, 80, 0.2);
  padding: 5px;
  transition: all 0.4s cubic-bezier(0.705, 0.01, 0, 0.915);
}
.contact-form-input-button:hover {
  filter: invert(1);
}
.video {
  margin: auto;
}

#trigger {
  position: absolute;
  /* background-color: #ffffff; */
  height: 100%;
  width: 100px;
  top: 0;
  bottom: 0;
}

.close_icon {
  position: absolute;
  top: 10px;
  right: 10px;
}


@keyframes sidebar_slide_in {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}
.render {
  margin: auto;
  height: 600px;
  width: 600px;
}
.render canvas {
  width: 100% !important;
  height: 100% !important;
}